
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,500&display=swap');

.container{
/* border: 2px solid green; */
width: 100%;
text-align: center;


}
.container .container_item{
    /* border: 2px solid red; */
    width: 50%; 
  margin: 60px auto;
}
.container .container_item h1{
    font-weight: 900;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    font-size: 60px;

}
.card_button button{
    background-color: blue;
    color: #fff;
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
}
.card_button button:hover{
    background-color: rgb(0, 0, 22);

}
#heading{
 font-family:  monospace;
font-weight: 900;
background:none ;
}